body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(/FrontendMentorChallengeI/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 90%;
    margin: 0;
    font-family: [Open Sans];
    font-weight: 400px, 600px;
}

/* Header */

.header img {
    padding: 2rem;
}

/* Main */

.main {
    display: flex;
    color: whitesmoke;
}

.main div {
    padding: 2vw;
}

.main h1 {
    font-family: 'Poppins', sans-serif;
}



